[MASTER]
load-plugins=pylint_django
django-settings-module=iFly.settings

[MESSAGES CONTROL]
disable=
    too-few-public-methods,
    no-member,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring

[FORMAT]
max-line-length=100

[DESIGN]
max-args=10
max-locals=20
